<div class="image-container">
  <div class="left-image">
    <div class="text-container">
      <div class="typo-48-700 label">Products and Solutions</div>
      <div class="typo-20-400 description">
        Designing competitive executive compensation and policies that align with business strategies while incentivizing top talent can be challenging.
      </div>
      <div class="buttons">
        <button mat-raised-button class="typo-18-700">Explore More</button>
        <a class="typo-18-500 help-link">Need Help?</a>
      </div>
    </div>
  </div>
  <div class="right-image">
  </div>
</div>
