<button mat-icon-button class="expanded-btn" (click)="isExpanded.set(!isExpanded())">
  <mat-icon size="medium" class="slide-icon" [svgIcon]="isExpanded() ? 'remove' : 'plus'"></mat-icon>
</button>
<div class="slide"
  [ngStyle]="{ 'background':
    'linear-gradient(0deg, rgba(1, 45, 120, 0.5) 0%, rgba(1, 45, 120, 0) 100%), url(' + imageUrl + '-' + slideIndex() + '.png' + ') lightgray 50% / cover'
  }"
  [ngClass]="{ 'expanded': isExpanded() }"
>
</div>
<div class="texts">
  <div class="typo-24-700 label">
    {{ labels[slideIndex()] }}
  </div>
  @if (isExpanded()) {
    <div class="typo-20-400 description">{{ descriptions[slideIndex()] }} </div>
  }
</div>
