@import "@styles/dependencies";

:host {
  .slide {
    position: relative;
    height: 384px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: filter 0.1s ease;

    &.expanded {
      filter: blur(4px);
      border: 0px solid #D9D9D9;
    }
  }

  .expanded-btn {
    z-index: 20;
    position: absolute;
    right: 35px;
    top: 15px;

    .slide-icon {
      width: 48px !important;
      height: 48px !important;
      top: -7px;
    }
  }

  .texts {
    color: white;
    position: absolute;
    display: flex;
    margin: 32px 32px;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
    z-index: 10;
    bottom: 60px;
  }

  ::ng-deep .mat-mdc-icon-button svg {
    width: 48px !important;
    height: 48px !important;
  }

}
