<form [formGroup]="contactForm" class="contact-form">
  <div class="field-row">
    <mat-form-field appearance="outline">
      <mat-label>Your Name</mat-label>
      <input matInput formControlName="name" placeholder="Your Name">

      @if (contactForm.get('name')?.hasError('required')) {
        <mat-error>Name is required.</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Your Surname</mat-label>
      <input matInput formControlName="surname" placeholder="Your Name">

      @if (contactForm.get('name')?.hasError('required')) {
        <mat-error>Surname is required.</mat-error>
      }
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Your E-mail</mat-label>
    <input matInput formControlName="email" placeholder="Your E-mail">

    @if (contactForm.get('email')?.hasError('required')) {
      <mat-error>E-mail is required.</mat-error>
    }
    @if (contactForm.get('email')?.hasError('email')) {
      <mat-error>Please enter a valid email.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Financial Advisor License Number</mat-label>
    <input matInput formControlName="licenseNumber" placeholder="Financial Advisor License Number">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Briefly, tell us the reason for contacting us</mat-label>
    <textarea matInput formControlName="reason" placeholder="Your message"></textarea>
    <div class="file-container">
      <span>{{ selectedFileName() }}</span>
      <button mat-icon-button clas="file-btn" (click)="fileInput.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
  </mat-form-field>
  <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">

  <button mat-raised-button class="typo-18-700 submit-btn" type="button" (click)="onSubmit()">
    Submit
  </button>

</form>
