<div class="container">
  <div class="typo-32-700 label">
    Contact Us
  </div>
  <div class="typo-20-400 description">
    We are here to help you. Our solution elevates your experience with enhanced security and personalized support. Get in touch today.
  </div>
  <div class="center">
    <div class="typo-18-400 check">
      <mat-icon class="check-icon">check</mat-icon>
      Learn which plan is right for you
    </div>
    <div class="typo-18-400 check">
      <mat-icon class="check-icon">check</mat-icon>
      Get onboarding help
    </div>
  </div>
  <div class="bottom">
    <div class="bottom-info">
      <mat-icon svgIcon="call"></mat-icon>
      <div class="typo-18-600 action">
        <span>Call Us</span>
        <span>+ 1 (800) 3334-5556</span>
      </div>
    </div>
    <div class="bottom-info">
      <mat-icon svgIcon="address"></mat-icon>
      <div class="typo-18-600 action">
        <span>Address</span>
        <span>100 Barangaroo Ave. NSW 2000</span>
      </div>
    </div>
  </div>
</div>
