<app-header [currentSection]="currentSection()"></app-header>

<div id="start" class="section">
  <app-products-and-solutions></app-products-and-solutions>
</div>

<div id="content-pages" class="content-pages-labels section">
  <div class="typo-40-700">
    Content pages
  </div>
  <div class="typo-20-400">
    Explore our content pages covering a wide range of topics and discover valuable insights tailored to your interests
  </div>
</div>

<app-products-slider></app-products-slider>

<div id="hub-tools" class="section">
  <app-product-categories></app-product-categories>
</div>

<div class="typo-40-700 recent-news-label">
  Recent News
</div>

<div class="recent-news">
  <app-recent-news></app-recent-news>
</div>

<div id="questions" class="section">
  <app-questions></app-questions>
</div>

<div id="contacts" class="section">
  <app-contact></app-contact>
</div>

<app-footer></app-footer>
