<div class="container">
  <div class="news">
    <div class="img img-1"></div>
    <div class="date">
      <mat-icon svgIcon="calendar"></mat-icon>
      <span class="typo-16-400">03 September 2024, Australia</span>
    </div>
    <div class="texts">
      <div class="typo-24-700 label">Claire Ross appointed CEO of Mercer Super </div>
      <div class="typo-20-400 description">
        Mercer, a business of Marsh McLennan (NYSE: MMC) and a global leader in helping clients realise their investment objectives, shape the future of work...
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="bottom">
      <div class="typo-18-500">Read More</div>
      <mat-icon class="icon">arrow_forward</mat-icon>
    </div>
  </div>

  <div class="news">
    <div class="img img-2"></div>
    <div class="date">
      <mat-icon svgIcon="calendar"></mat-icon>
      <span class="typo-16-400">02 August 2024, Australia</span>
    </div>
    <div class="texts">
      <div class="typo-24-700 label">Mercer Super responds to Federal Court Civil Penalty Decision </div>
      <div class="typo-20-400 description">
        We accept the Court’s decision handed down today regarding five marketing statements that were overly broad.
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="bottom">
      <div class="typo-18-500">Read More</div>
      <mat-icon class="icon">arrow_forward</mat-icon>
    </div>
  </div>
</div>
<button mat-raised-button class="typo-18-700" type="button">Load More News</button>
